@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #7878a0;
}

/*
Styles for counter
*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

/* Setting up colors based on #7878a0 */
/* These will all be different shades of that original color */
.bg-color-1 {
  background-color: #f0f0f4;
}

.bg-color-2 {
  background-color: #d2d2df;
}

.bg-color-3 {
  background-color: #b4b4ca;
}

.bg-color-4 {
  background-color: #9696b5;
}

.bg-color-5 {
  background-color: #7878a0;
}
